# Yoruba Language Identifier

### Importing the pandas library

In [1]:
import pandas as pd

### Loading the dataset

In [2]:
sets = pd.read_csv('./newDataset.csv')
sets

                                                    Text Language
0      Nature er et britisk multidisciplinært vidensk...   Danish
1      [1] Det er rangeret som verdens mest citerede ...   Danish
2      [2][3] Det er et af de få tilbageværende akade...   Danish
3      [3][4] Tidsskriftets primære målgruppe er fors...   Danish
4      I starten af hvert tidsskrift er ledere, nyhed...   Danish
...                                                  ...      ...
33814  Ọgbọ́n tí ahún gbọ́n, ẹ̀yìn ni yó máa tọ ti ìg...   Yoruba
33815  Ọjọ́ pẹ́ táwọn Ẹlẹ́rìí Jèhófà ti ń sọ Ọ̀rọ̀ Ọl...   Yoruba
33816                 Ọ̀pá gbóńgbó ní n ṣíwájú agbọ́ọni.   Yoruba
33817  Ọ̀rọ̀ apinlẹ̀kọ yìí wá láti ẹnu àgbà olóṣèlú O...   Yoruba
33818  ṣe àfihàn ohun táwa Ẹlẹ́rìí Jèhófà gbé ṣe àtoh...   Yoruba

[33819 rows x 2 columns]

                                                    Text Language
0      Nature er et britisk multidisciplinært vidensk...   Danish
1      [1] Det er rangeret som verdens mest citerede ...   Danish
2      [2][3] Det er et af de få tilbageværende akade...   Danish
3      [3][4] Tidsskriftets primære målgruppe er fors...   Danish
4      I starten af hvert tidsskrift er ledere, nyhed...   Danish
...                                                  ...      ...
33814  Ọgbọ́n tí ahún gbọ́n, ẹ̀yìn ni yó máa tọ ti ìg...   Yoruba
33815  Ọjọ́ pẹ́ táwọn Ẹlẹ́rìí Jèhófà ti ń sọ Ọ̀rọ̀ Ọl...   Yoruba
33816                 Ọ̀pá gbóńgbó ní n ṣíwájú agbọ́ọni.   Yoruba
33817  Ọ̀rọ̀ apinlẹ̀kọ yìí wá láti ẹnu àgbà olóṣèlú O...   Yoruba
33818  ṣe àfihàn ohun táwa Ẹlẹ́rìí Jèhófà gbé ṣe àtoh...   Yoruba

[33819 rows x 2 columns]

### Checking data for NAN values

In [3]:
# print(sets.isnull().sum())

### Replacing NaN values with default values

In [4]:
# sets.fillna(sets.mean(), inplace=True)

### Remove rows and columns that contain Nan values

In [5]:
# sets.dropna(inplace=True)

### Displaying the dataset

In [6]:
# sets

In [7]:
sets.tail()

                                                    Text Language
33814  Ọgbọ́n tí ahún gbọ́n, ẹ̀yìn ni yó máa tọ ti ìg...   Yoruba
33815  Ọjọ́ pẹ́ táwọn Ẹlẹ́rìí Jèhófà ti ń sọ Ọ̀rọ̀ Ọl...   Yoruba
33816                 Ọ̀pá gbóńgbó ní n ṣíwájú agbọ́ọni.   Yoruba
33817  Ọ̀rọ̀ apinlẹ̀kọ yìí wá láti ẹnu àgbà olóṣèlú O...   Yoruba
33818  ṣe àfihàn ohun táwa Ẹlẹ́rìí Jèhófà gbé ṣe àtoh...   Yoruba

                                                    Text Language
33814  Ọgbọ́n tí ahún gbọ́n, ẹ̀yìn ni yó máa tọ ti ìg...   Yoruba
33815  Ọjọ́ pẹ́ táwọn Ẹlẹ́rìí Jèhófà ti ń sọ Ọ̀rọ̀ Ọl...   Yoruba
33816                 Ọ̀pá gbóńgbó ní n ṣíwájú agbọ́ọni.   Yoruba
33817  Ọ̀rọ̀ apinlẹ̀kọ yìí wá láti ẹnu àgbà olóṣèlú O...   Yoruba
33818  ṣe àfihàn ohun táwa Ẹlẹ́rìí Jèhófà gbé ṣe àtoh...   Yoruba

## MULTINOMIAL NAIVE BAYES MODEL

In [8]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [9]:
# Initialize the Multinomial Naive Bayes classifier
mnb = MultinomialNB()

In [10]:
vectorizer = TfidfVectorizer()
A = vectorizer.fit_transform(sets['Text'])

In [11]:
# Convert the target labels to numerical values
b = pd.factorize(sets['Language'])[0]

In [25]:
# Split the dataset into training and validation sets
A_train, A_val, b_train, b_val = train_test_split(A, b, test_size=0.2 random_state=42)

SyntaxError: invalid syntax (2758755479.py, line 2)

SyntaxError: invalid syntax (2758755479.py, line 2)

In [16]:
# Fit the classifier to the training data
mnb.fit(A_train, b_train)

MultinomialNB()

MultinomialNB()

In [17]:
# Predict the language for each sample in the validation set
b_pred = mnb.predict(A_val)

In [18]:
# Compute the accuracy of the predictions
accuracy = accuracy_score(b_val, b_pred)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.92
Accuracy: 0.92

In [ ]:
# sampleTexts = ['going to lagos', 'ooni', 'fish', 'pin', 'sharpener', 'one', 'mono', 'monospace', '', '' ]

In [24]:
# Predict the language of new text
sampleText = 'pin'

NBlanguage_label = mnb.predict(vectorizer.transform([sampleText]))
NBlanguage = pd.Categorical.from_codes(NBlanguage_label, sets['Language'].unique())[0]
print(f'The language of "{sampleText}" is {NBlanguage}')

The language of "pin" is Yoruba
The language of "pin" is Yoruba