In [1]:
import pandas as pd #Importing

In [2]:
db = pd.read_csv('Dataset.csv')

In [3]:
db.head()

                                                Text    Language Unnamed: 2
0  lílo àkàbà ǹjẹ́ o máa ń ṣe àyẹ̀wò wọ̀nyí tó l...      Yoruba        NaN
1          fẹ́ pààrọ̀ gílóòbù iná tó wà lóde ilé ẹ̀       Yoruba        NaN
2                                        abbreviate   Not Yoruba        NaN
3                                      abbreviation   Not Yoruba        NaN
4                                           abdomen   Not Yoruba        NaN

### Check for Missing Values

In [4]:
db.isnull().sum()

Text             0
Language         0
Unnamed: 2    4284
dtype: int64

### Check for different target labels

In [5]:
db['Language'].value_counts()

Yoruba        2572
Not Yoruba    1713
Name: Language, dtype: int64

### Split data into train and test sets

In [13]:
X = db['Text']
y = db['Language']
X

0       lílo àkàbà ǹjẹ́ o máa ń ṣe àyẹ̀wò wọ̀nyí tó l...
1               fẹ́ pààrọ̀ gílóòbù iná tó wà lóde ilé ẹ̀
2                                             abbreviate
3                                           abbreviation
4                                                abdomen
                              ...
4280                                                nose
4281                                              plural
4282                                               anger
4283                                               claim
4284                                           continent
Name: Text, Length: 4285, dtype: object

In [25]:
import re
data_list = []
for text in X:
    text = re.sub(r'[!@#$() ,n"%^*:;~`0-9]', '', text)
#     text = re.sub(r'[[]]', ' ', text)
#     text = text.lower()
    data_list.append(text)

In [26]:
text

'co ti e t '